<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xam.Plugins.Android.ExoPlayer" version="2.5.2" targetFramework="monoandroid70" />
  <package id="Xam.Plugins.Android.ExoPlayer.Core" version="2.5.2" targetFramework="monoandroid70" />
  <package id="Xam.Plugins.Android.ExoPlayer.Dash" version="2.5.2" targetFramework="monoandroid70" />
  <package id="Xam.Plugins.Android.ExoPlayer.Hls" version="2.5.2" targetFramework="monoandroid70" />
  <package id="Xam.Plugins.Android.ExoPlayer.SmoothStreaming" version="2.5.2" targetFramework="monoandroid70" />
  <package id="Xam.Plugins.Android.ExoPlayer.UI" version="2.5.2" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Annotations" version="25.4.0.2" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Compat" version="25.4.0.2" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.4.0.2" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.4.0.2" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Fragment" version="25.4.0.2" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.4.0.2" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v4" version="25.4.0.2" targetFramework="monoandroid70" />
  <package id="Xamarin.Build.Download" version="0.4.7" targetFramework="monoandroid70" />
</packages>